{% extends "base.html" %}
{% block content %}
    <div class='article'>
        <div class="content-title">
            <h1>{{ article.title }}</h1>
            {% include "metadata.html" %}
        </div>
	
        <div>{{ article.content }}</div>
	
        <hr>
        <div align="right">
        {% if JIATHIS %}
            {% include "jiathis.html" %}
        {% endif %}
        </div>

        <h2>评论</h2>
	{% include "twitter.html" %}
	{% include 'disqus.html' %}
	{% include 'youyan.html' %}
    </div>
{% endblock %}
