{% extends "base.html" %}
{% block content %}
{% if articles %}
  {% for article in articles_page.object_list %}
      <div class='article'>
          <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
          <div class= "well small"> {% include "metadata.html" %}</div>
          <div class="summary"><b>内容摘要:</b>{{ article.summary }} <a class="btn btn-info xsmall" href="{{ SITEURL }}/{{ article.url }}">阅读</a></div>
      </div>

      {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
          {% include 'pagination.html' %}
      {% endif %}
  {% endfor %} {# For article #}
{% endif %} {# If articles #}

{% endblock content %}
